<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
        <link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}" type="/image/x-icon" />
    </head>

    <body>

        {% block container %}
            hello, world!
        {% end %}

        <script src="{{ static_url("js/jquery-1.11.1.min.js") }}"></script>
        <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
        <script src="{{ static_url("js/main.js") }}"></script>
    </body>
</html>