<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css" media="screen,print">
        
        <link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}" type="/image/x-icon" />
    </head>

    <body>

        {% block container %}
            网页出错！
        {% end %}
        
        <script src="{{ static_url("js/jquery-1.11.1.min.js") }}"></script>
        <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
        <!-- 全局脚本 -->
        <script src="{{ static_url("js/global.js") }}"></script>
        
        <!-- 添加自定义脚本 -->
        {% block customscript %}
            
        {% end %}
    </body>
</html>