
<div class="container">
    <!-- container begin-->
				
	<div class="wrapper index-content-wrapper">
    <div class="bottom">
    <div class="inner-wrapper">
    <div class="stories">
    <div class="reps clearfix">

   <a target="_blank" href="" class="rep current" id="foucs_tab_1"  onmouseover="foucs(1,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">sky，自选集上架求捧场:http://t.cn/RPy729U</span>
    <img src="{{ static_url("img/one.jpg") }}" >

    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_2" onmouseover="foucs(2,2,'foucs')" data-type="topic" data-token="" >

    <span class="info-card">FantasticCathy，简单粗暴不文艺</span>
 	 <img src="{{ static_url("img/two.jpg") }}" >


    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_3" onmouseover="foucs(3,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">孙志超，早期投资\知乎自选集已上线</span>
        <img src="{{ static_url("img/three.jpg") }}" >


    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_4" onmouseover="foucs(4,2,'foucs')"data-type="topic" data-token="">

    <span class="info-card">南区熊猫，IN TRUST WE TRUST</span>
    <img src="{{ static_url("img/four.jpg") }}" >


    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_5" onmouseover="foucs(5,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">交互设计</span>
    <img src="{{ static_url("img/five.jpg") }}" >


    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_6" onmouseover="foucs(6,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">大风，微信公号：道哥的黑板报</span>
    <img src="{{ static_url("img/one.jpg") }}" >


    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_7" onmouseover="foucs(7,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">冯东，Adobe 程序员</span>
	<img src="{{ static_url("img/six.jpg") }}" >


    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_8" onmouseover="foucs(8,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">少少，愿世界温柔相待。</span>
	<img src="{{ static_url("img/seven.jpg") }}" >


    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_9" onmouseover="foucs(9,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">美股</span>
  	<img src="{{ static_url("img/nine.jpg") }}" >


    </a>

	<a target="_blank" href="" class="rep" id="foucs_tab_10" onmouseover="foucs(10,2,'foucs')" data-type="topic" data-token="">

	<span class="info-card">MoonMonster，长文流... www.jianjia360.com</span>
	<img src="{{ static_url("img/ten.jpg") }}" >


	</a>

	<a target="_blank" href="" class="rep" id="foucs_tab_11" onmouseover="foucs(11,2,'foucs')" data-type="topic" data-token="">

	<span class="info-card">音乐</span>
	<img src="{{ static_url("img/eleven.jpg") }}" >


	</a>

	<a target="_blank" href="" class="rep" id="foucs_tab_12" onmouseover="foucs(12,2,'foucs')" data-type="topic" data-token="">

	<span class="info-card">李松蔚，普通的心理学工作者</span>
	<img src="{{ static_url("img/twelve.jpg") }}" >


	</a>

	<a target="_blank" href="" class="rep" id="foucs_tab_13" onmouseover="foucs(13,2,'foucs')" data-type="topic" data-token="">

	<span class="info-card">心理学</span>
    <img src="{{ static_url("img/thirdteen.jpg") }}" >


	</a>
    <a target="_blank" href="" class="rep" id="foucs_tab_14" onmouseover="foucs(14,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">广告</span>
    <img src="{{ static_url("img/fourteen.jpg") }}" >


    </a>

    <a target="_blank" href="" class="rep" id="foucs_tab_15" onmouseover="foucs(15,2,'foucs')" data-type="topic" data-token="">

    <span class="info-card">金融</span>
    <img src="{{ static_url("img/fifteen.jpg") }}" >


    </a>

    </div>


<!--右栏重复出现15次，-->
    <div class="single-story" id="foucs_con_1">
		 	 <div class="single-story-inner">
		    <img class="author-img" src="{{ static_url("img/fifteen.jpg") }}">
		    <div class="story-title">
		    <div>

		    <a class="name" href="" target="_blank">sky</a><span>自选集</span>

		    </div>
		    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		 

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="" target="_blank">中国</a>、<a href="" target="_blank">历史</a>、<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		    </div>



    <div class="single-story undisplay" id="foucs_con_2">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="" target="_blank">sky</a><span>自选集</span>

		    </div>
		    <div>dssdfadsfsdfasd。</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="" target="_blank">中国</a>、<a href="" target="_blank">历史</a>、<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		    </div>




    <div class="single-story undisplay" id="foucs_con_3">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="" target="_blank">sky</a><span>自选集</span>

		    </div>
		    <div>我是第三个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>


    <div class="single-story undisplay" id="foucs_con_4">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第4个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>

		
    <div class="single-story undisplay" id="foucs_con_5">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第5个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>


    <div class="single-story undisplay" id="foucs_con_6">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第6个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>


    <div class="single-story undisplay" id="foucs_con_7">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第7个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>

		
    <div class="single-story undisplay" id="foucs_con_8">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第8个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>



    <div class="single-story undisplay" id="foucs_con_9">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第9个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>



    <div class="single-story undisplay" id="foucs_con_10">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第10个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>



    <div class="single-story undisplay" id="foucs_con_11">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第11个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>



    <div class="single-story undisplay" id="foucs_con_12">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第12个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>




    <div class="single-story undisplay" id="foucs_con_13">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第13个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>



    <div class="single-story undisplay" id="foucs_con_14">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第14个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>



    <div class="single-story undisplay" id="foucs_con_15">
		    <i class="icon-sign icon-sign-spike"></i>

		    <div class="single-story-inner">
		    <img class="author-img" src="http://pic3.zhimg.com/97145be1d_m.jpg">
		    <div class="story-title">
		    <div>

		    <a class="name" href="/people/sky-86-5" target="_blank">sky</a><span>自选集上架求捧场:http://t.cn/RPy729U</span>

		    </div>
		    <div>我是第15个</div>
		    </div>
		    <div class="sep"></div>
		    <div class="story-content">

		    <div class="story-content-answer">
		    <span class="vote">
		    5466
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19594639#answer-316261">「保险」到底保险吗？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    551
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19599617#answer-1242946">凤凰传奇组合中的那个男人有什么用？</a></p>
		    </div>

		    <div class="story-content-answer">
		    <span class="vote">
		    318
		    </span>
		    <p><a class="question_link" target="_blank" href="/question/19904068#answer-1050093">为什么保险业／保险公司在中国的声誉比较差？</a></p>
		    </div>

		    </div>
		    <div class="sep"></div>
		    <div class="story-end">sky 在 <a href="/people/sky-86-5/topic/19586942/answers" target="_blank">中国</a>、<a href="/people/sky-86-5/topic/19551077/answers" target="_blank">历史</a>、<a href="/people/sky-86-5/topic/19551147/answers" target="_blank">生活</a> 等话题下获得了 13642 个赞同</div>
		    </div>

		  </div>

		  <!---->
		</div>
		</div>
	</div>

<!--Container and wrapper-->
	</div>
	</div>
