
<div class="container">
    <!-- container begin-->
				
	<div class="wrapper index-content-wrapper">
    	<div class="bottom">
    		<div class="inner-wrapper">
    			<div class="stories">
    				<div class="reps clearfix">
   						<a target="_blank" href="" class="rep current" id="foucs_tab_1" data-type="topic" data-token="">
						    <span class="info-card">sky，自选集上架求捧场:http://t.cn/RPy729U</span>
						    <img src="{{ static_url("img/1.jpg") }}" >
						</a>

					    <a target="_blank" href="" class="rep" id="foucs_tab_2" data-type="topic" data-token="" >
					    	<span class="info-card">FantasticCathy，简单粗暴不文艺</span>
					 		<img src="{{ static_url("img/2.jpg") }}" >
					    </a>

					    <a target="_blank" href="" class="rep" id="foucs_tab_3" data-type="topic" data-token="">
					    	<span class="info-card">孙志超，早期投资\知乎自选集已上线</span>
					        <img src="{{ static_url("img/2.jpg") }}" >
					    </a>

					    <a target="_blank" href="" class="rep" id="foucs_tab_4" data-type="topic" data-token="">
					    	<span class="info-card">南区熊猫，IN TRUST WE TRUST</span>
					    	<img src="{{ static_url("img/1.jpg") }}" >
					    </a>

					    <a target="_blank" href="" class="rep" id="foucs_tab_5" data-type="topic" data-token="">
					    	<span class="info-card">交互设计</span>
					    	<img src="{{ static_url("img/1.jpg") }}" >
					    </a>

					    <a target="_blank" href="" class="rep" id="foucs_tab_6" data-type="topic" data-token="">
					    	<span class="info-card">大风，微信公号：道哥的黑板报</span>
					    	<img src="{{ static_url("img/1.jpg") }}" >
					    </a>

					    <a target="_blank" href="" class="rep" id="foucs_tab_7" data-type="topic" data-token="">
					    	<span class="info-card">冯东，Adobe 程序员</span>
							<img src="{{ static_url("img/2.jpg") }}" >
					    </a>

					    <a target="_blank" href="" class="rep" id="foucs_tab_8" data-type="topic" data-token="">
					    	<span class="info-card">少少，愿世界温柔相待。</span>
							<img src="{{ static_url("img/1.jpg") }}" >
					    </a>

					    <a target="_blank" href="" class="rep" id="foucs_tab_9" data-type="topic" data-token="">
					    	<span class="info-card">美股</span>
					  		<img src="{{ static_url("img/1.jpg") }}" >
					    </a>
    				</div>

					<!--右栏重复出现9次，-->
    				<div class="single-story" id="foucs_con_1">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/1.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		    		<div class="single-story undisplay" id="foucs_con_2">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/2.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		    		<div class="single-story undisplay" id="foucs_con_3">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/2.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		    		<div class="single-story undisplay" id="foucs_con_4">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/1.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		    		<div class="single-story undisplay" id="foucs_con_5">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/1.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		    		<div class="single-story undisplay" id="foucs_con_6">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/1.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		    		<div class="single-story undisplay" id="foucs_con_7">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/2.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		    		<div class="single-story undisplay" id="foucs_con_8">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/1.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		    		<div class="single-story undisplay" id="foucs_con_9">
		 	 			<div class="single-story-inner">
		    				<img class="author-img" src="{{ static_url("img/1.jpg") }}">
		    				<div class="story-title">
		    					<div>
		    						<a class="name" href="" target="_blank">sky</a><span>自选集</span>
		    					</div>
							    <div>在山水上回答了 557 个问题，25854 人关注她。</div>
							</div>
						    <div class="sep"></div>
							<div class="story-content">
							    <div class="story-content-answer">
								    <span class="vote">
								    	5466
								    </span>
								    <p><a class="question_link" target="_blank" href="">「保险」到底保险吗？</a></p>
							    </div>
							    <div class="story-content-answer">
								    <span class="vote">
								    	551
								    </span>
								    <p><a class="question_link" target="_blank" href="">凤凰传奇组合中的那个男人有什么用？</a></p>
							    </div>
						    </div>
						    <div class="sep"></div>
						    <div class="story-end">
						    	sky 在 
						    	<a href="" target="_blank">中国</a>、
						    	<a href="" target="_blank">历史</a>、
						    	<a href="" target="_blank">生活</a> 等话题下获得了 13642 个赞同
						    </div>
						</div>
		    		</div>

		  		<!---->
				</div>
			</div>
		</div>

<!--Container and wrapper-->
	</div>
</div>
