<div id="nav_left">
	<div class ="items">
		<a id="top_ten" href="javascripte:void(0);" title="Hot十大话题">
			<img width ="28" height="24" src="{{ static_url("img/icon-leftnav-topTen.png") }}" alt="Hot十大话题">
		</a>
	</div >
	<div class="items">
		<a id="recommand" href="javascripte:void(0);" title="推荐文章">
			<img width="100" height="100" src="{{ static_url("img/icon-leftnav-recommand.png") }}" alt="推荐文章">
		</a>
	</div>
	<div class="items">
		<a id="newest" href="javascripte:void(0);" title="今日新帖">
			<img width="100" height="100" src="{{ static_url("img/icon-leftnav-newest.png") }}" alt="今日新帖">
		</a>
	</div>
	<div class="items">
		<a id="lecture" href="javascripte:void(0);" title="讲座">
			<img width="100" height="100" src="{{ static_url("img/icon-leftnav-lecture.png") }}" alt="讲座">
		</a>
	</div>
	<div class="items">
		<a id="notification" href="javascripte:void(0);" title="组织公告">
			<img width="100" height="100" src="{{ static_url("img/icon-leftnav-notification.png") }}" alt="组织公告">
		</a>
	</div>
	<div class="items">
		<a id="poster" href="javascripte:void(0);" title="海报">
			<img width="100" height="100" src="{{ static_url("img/icon-leftnav-poster.png") }}" alt="海报">
		</a>
	</div>
	<div class="items">
		<a id="telnet" href="javascripte:void(0);" title="telnet">
			<img width="100" height="100" src="{{ static_url("img/icon-leftnav-telnet.png") }}" alt="telnet">
		</a>
	</div>
	<div class="items">
		<a id="post" href="javascripte:void(0);" title="发帖">
			<img width="100" height="100" src="{{ static_url("img/icon-leftnav-post.png") }}" alt="发帖">
		</a>
	</div>
</div>
