{% extends "base.html" %}
{% block container %}
    {% include header.html %}
 <!--   {% include left.html %}
    {% include footer.html %}
    hello, page3!-->

    <div class="container">
    		<div class="tcell">
	    		<span class="page3title"><h2>①致没有表白只有暗恋的大学</h2></span>	
				<span class="page2collect" style="float:left">收藏 点赞 </span>
				<img src="{{ static_url("img/logo.png") }}" width="60" height="60" style="float:right" class="page2img" />
				<br/>
				<hr>
			</div>

			<div class="clear"></div>

    			<div class="tcell">
	    		<span class="page3title"><h2>②珞珈山水“缘来就是你”联谊活动</h2></span>	
				<span class="page2collect" style="float:left">收藏 点赞 </span>
				<img src="{{ static_url("img/one.jpg") }}" width="60" height="60" style="float:right" class="page2img" />
				<br/>
				<hr>
			</div>

			<div class="clear"></div>

    		<div class="tcell">
	    		<span class="page3title"><h2>③你眼中的丹阳，作者：宝儿</h2></span>	
				<span class="page2collect" style="float:left">收藏 点赞 </span>
				<img src="{{ static_url("img/two.jpg") }}" width="60" height="60" style="float:right" class="page2img" />
				<br/>
				<hr>
			</div>

			<div class="clear"></div>

    			<div class="tcell">
	    		<span class="page3title"><h2>④子欲养而亲不待的遗憾</h2></span>	
				<span class="page2collect" style="float:left">收藏 点赞 </span>
				<img src="{{ static_url("img/three.jpg") }}" width="60" height="60" style="float:right" class="page2img" />
				<br/>
				<hr>
			</div>

			<div class="clear"></div>

    		<div class="tcell">
	    		<span class="page3title"><h2>⑤写在人生边</h2></span>	
				<span class="page2collect" style="float:left">收藏 点赞 </span>
				<img src="{{ static_url("img/four.jpg") }}" width="60" height="60" style="float:right" class="page2img" />
				<br/>
				<hr>
			</div>

			<div class="clear"></div>

    		<div class="tcell">
	    		<span class="page3title"><h2>⑥哀莫大于心死【原创】</h2></span>	
				<span class="page2collect" style="float:left">收藏 点赞 </span>
				<img src="{{ static_url("img/five.jpg") }}" width="60" height="60" style="float:right" class="page2img" />
				<br/>
				<hr>
			</div>

			<div class="clear"></div>
    </div>
{% end %}