{% extends "base.html" %}
{% block container %}
    {% include header.html %}
   <!-- {% include left.html %}
    {% include footer.html %}
    hello, page2!-->

    <div class="container">
    		<table class="table table-hover tablewidth" >
    			
    			<tr>
	    			<td >
		    			<span><h3>①致没有表白只有暗恋的大学</h3></span>	
						<span class="page2collect" style="float:left">收藏 点赞 </span>
						<img src="{{ static_url("img/logo.png") }}" width="60" height="60" style="float:right" class="page2img" />

		    		</td>
    			</tr>
    			<tr>
	    			<td >
		    			<span><h2>①致没有表白只有暗恋的大学</h2></span>	
						<span class="page2collect" style="float:left">收藏数<span>212</span> 点赞数<span>212</span>点击收藏 </span>
						<img src="{{ static_url("img/logo.png") }}" width="60" height="60" style="float:right" class="page2img" />
	    			</td>
    			</tr>
    			<tr>
	    			<td >
		    			<span><h2>①致没有表白只有暗恋的大学</h2></span>	
						<span class="page2collect" style="float:left">收藏 点赞 </span>
						<img src="{{ static_url("img/logo.png") }}" width="60" height="60" style="float:right" class="page2img" />
	    			</td>
    			</tr>
    			<tr>
	    			<td >
		    			<span><h2>①致没有表白只有暗恋的大学</h2></span>	
						<span class="page2collect" style="float:left">收藏 点赞 </span>
						<img src="{{ static_url("img/logo.png") }}" width="60" height="60" style="float:right" class="page2img" />
	    			</td>
    			</tr>
    			<tr>
	    			<td >
		    			<span><h2>①致没有表白只有暗恋的大学</h2></span>	
						<span class="page2collect" style="float:left">收藏 点赞 </span>
						<img src="{{ static_url("img/logo.png") }}" width="60" height="60" style="float:right" class="page2img" />
	    			</td>
    			</tr>
    			<tr>
	    			<td >
		    			<span><h2>①致没有表白只有暗恋的大学</h2></span>	
						<span class="page2collect" style="float:left">收藏 点赞 </span>
						<img src="{{ static_url("img/logo.png") }}" width="60" height="60" style="float:right" class="page2img" />
	    			</td>
    			</tr>			
    		</table>	
    </div>
{% end %}